<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <img class="pull-left logo" src="../assets/images/ng-xs.png" alt="Angular2">
          <a class="navbar-brand" [routerLink]="['']">NgJwtXample</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a [routerLink]="['']">Home</a></li>
              <li><a [routerLink]="['product']">Products</a></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
              <li *ngIf="!hasAuthToken()"><a [routerLink]="['login']">Login</a></li>
              <li *ngIf="hasAuthToken()"><a (click)="logout()" href="#">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>